*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
    font-family: sans-serif;
    background-color: beige;
}

.wrap{
    display: flex;
    margin-left: 220px;
}

.body{
    width: 78%;
}

.foot {
    background-size: cover;
    left: 70%;
}




