/* CSS for Delete Account page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}
.main {
  background-size:auto;
  background-color: #fbf2e3;
}

.navbar {
  width: 1200px;
  height: 100px;
  margin: auto;
}

.icon {
  width: 500px;
  float: left;
  height: 10px;

}

.menu {
  width: 700px;
  float: left;
  height: 100px;

  /* position: fixed; */

}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  color: black;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

/* Style for the form container */
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Style for labels */
label {
  font-weight: bold;
}

/* Style for input fields */
input[type="text"]{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Style for submit button */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

