/* CSS for Delete Account page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}
.main {
  background-size: cover;
  background-color: #fbf2e3;
}

.navbar {
  width: 1200px;
  height: 100px;
  margin: auto;
}

.icon {
  width: 500px;
  float: left;
  height: 10px;

}

.menu {
  width: 700px;
  float: left;
  height: 100px;

  /* position: fixed; */

}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  color: black;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

p {
  margin-bottom: 10px;
}

form {
  margin-top: 10px;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

/* Add additional styles as needed */

